
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-tumblr:before { content: '\e801'; } /* '' */
.icon-lastfm:before { content: '\e802'; } /* '' */
.icon-dribbble:before { content: '\e803'; } /* '' */